<div class="container">
  <div class="left">
    <h2>Crear Usuario</h2>

    <form [formGroup]="formGroup">
      <div>
        <label>Nombre(s)</label>
        <input type="text" formControlName="FirstName" required />
      </div>

      <div>
        <label>Apellido(s)</label>
        <input type="text" formControlName="LastName" required />
      </div>

      <div>
        <label>Email</label>
        <input type="text" formControlName="Email" required />
      </div>

      <div>
        <label>Edad (años)</label>
        <input type="number" formControlName="Age" required />
      </div>

      <div class="button-container">
        <button
          (click)="onSubmit()"
          [ngStyle]="{
            'pointer-events': isLoading || !checkValidity() ? 'none' : 'auto',
            opacity: isLoading || !checkValidity() ? '0.5' : '1',
          }"
        >
          Crear
        </button>
        @if (showSuccessMessage) {
          <p style="margin: 0; margin-top: 20px; color: green; font-weight: bold">
            Usuario creado con éxito
          </p>
        } @else if (showFailureMessage) {
          <p style="margin: 0; margin-top: 20px; color: red; font-weight: bold">
            Hubo un error creando el usuario
          </p>
        }
      </div>
    </form>
  </div>

  <div class="right">
    <h2>Listado de Usuarios</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Edad</th>
          <th>Acción</th>
        </tr>
      </thead>
      @for (user of userList; track user._id) {
        <tr>
          <td>{{ user._id.slice(-4) }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.age }}</td>
          <td>
            <div class="button-container">
              <button (click)="onDelete(user._id)">Eliminar</button>
            </div>
          </td>
        </tr>
      }
    </table>
  </div>
</div>
